<p id="notice"><%= notice %></p>

<p>
  <strong>Create users:</strong>
  <%= @migration.create_users %>
</p>

<%= link_to 'Edit', edit_migration_path(@migration) %> |
<%= link_to 'Back', migrations_path %>
